.app-surround {
    background-color: white;
    flex-direction: row-reverse;
    height: 100vh;
    width: 200px;
    flex: 0 0 200px;
    text-align: right;
/*     border-style: solid; */
    border-width: 1px;
    box-shadow: inset 0 3px 6px #444;
      background-image: repeating-linear-gradient(35deg, 
    #bbb 10px,
    #bbb 11px,
    transparent 12px,
    transparent 20px);
}
.tab-selected {
    background-color: white;
}